.bulk-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    width: 50%;
    padding: 20px;
    background: aliceblue;
  }
  
  .post-section {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .post-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .post-list {
    padding-left: 20px;
  }
  
  .no-data,
  .no-selection {
    font-size: 14px;
    color: red;
    text-align: center;
  }
  