.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.post-list {
  display: flex;
  justify-content: left;
  text-align: left;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  list-style: none;
  padding: 0;
}

.post-item {
  /* margin: 10px 0; */
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-name {
  text-decoration: underline;
  color: #007BFF;
  cursor: pointer;
}

.bulk-download-btn {
  display: block;
  padding: 10px;
  font-size: 14px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bulk-download-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
#pdf-content{
  padding: 2rem;
  background-color: aliceblue;
}
#pdf-content p{
  font-size: larger;
  text-align: left;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll !important;
}

.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 70%;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.container-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.download-btn,
.close-btn {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-btn {
  background-color: #007BFF;
  color: white;
}

.close-btn {
  background-color: #f44336;
  color: white;
}